{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-no-target-blank": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-no-comment-textnodes": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/alt-text": 0,
    "react/prop-types": 0
  }
}