@import "./default.less";
@media only screen and (max-width: @screen-lg) {
  #footer {
    text-align: center;
    .footer-wrap {
      padding: 40px;
    }
    .footer-center {
      text-align: center;
    }
    h2 {
      margin-top: 16px;
    }
    .bottom-bar {
      text-align: center;
      .translate-button {
        width: auto;
        text-align: center;
        margin-bottom: 16px;
      }
    }
  }
  .home #footer {
    .footer-wrap {
      .ant-row {
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .page1 {
    min-height: 1520px;
  }
  .page2 {
    min-height: 1600px;
  }
  .page3 {
    min-height: 784px;
  }
}